label {
    display: block;
}
.custom-input-error label {
    color: red;
}

.custom-input-error input {
    border: 2px solid red;
    border-radius: 4px;
}

.error {
    color: red;
    margin: 0;
}
.form-wrapper p{
    color: rgba(0, 0, 0, 0.73) !important;


}

.form-inner > label {
    margin-bottom: 0px !important;
}
